{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
<h2>Редактирование записи</h2>
<h3>Edit entry</h3>
{% endblock header %}

{% block content %}

<p><a href="{% url 'learning_logs:topic' topic.id %}">Тема: {{ topic }}</a></p>
<p>Редактировать запись / Edit entry:</p>

<!--аргумент action отправляет форму функции edit_entry() для обработки. -->
<!--Идентификатор записи включается как аргумент в тег % url % , чтобы функция -->
<!--представления могла изменить правильный объект записи.-->
<form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'>
  {% csrf_token %}
  {{ form.as_p }}
  <button name="submit" class="btn btn-primary">Сохранить запись / Save</button>
</form>
{% endblock content %}