{% extends "learning_logs/base.html" %}


{% block header %}
<h1>Темы / Topics</h1>
{% endblock header %}

{% block content %}
<ul>
    {% for topic in topics %}
    <li>
        <h4>
            <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
        </h4>
    </li>
    {% empty %}
    <li>Ни одной темы ещё не добавлено. / No topics have been added yet. </li>
    {% endfor %}
</ul>

<a class="btn btn-primary" href="{% url 'learning_logs:new_topic' %}">Добавить новую тему <br> Add new topic</a>
{% endblock content %}


