{% extends 'learning_logs/base.html' %}

{% block header %}
<h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}

<p>
    <a class="btn btn-primary" href="{% url 'learning_logs:new_entry' topic.id %}">Добавить новую запись / add new entry</a>
</p>

{% for entry in entries %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {{ entry.date_added|date:'M d, Y H:i' }}
<!--        сделать чуть меньше -->
            <small>
                <a class="btn btn-primary" href="{% url 'learning_logs:edit_entry' entry.id %}">
                    edit entry</a>
            </small>
        </h4>
    </div>
<!-- текст записи-->
    <div class="panel-body">
        {{ entry.text|linebreaks }}
    </div>
</div> <!-- panel -->
{% empty %}
<h4>Ни одной темы ещё не добавлено. </h4>
There are no entries for this topic yet.
{% endfor %}

{% endblock content %}
