{% extends 'learning_logs/base.html' %}
{% block content %}
<p>Тема / Topic: {{ topic }}</p>
<p>Запись /Entry:</p>
<p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Добавить новую запись / add new entry</a>
</p>
<ul>
    {% for entry in entries %}
    <li>
        <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
        <p>{{ entry.text|linebreaks }}</p>
    </li>
    {% empty %}
    <li>
        Еще не добавлено ни одной записи для этой темы. / There are no entries for this topic yet.
    </li>
    {% endfor %}
</ul>
{% endblock content %}